@keyframes heart {
  0%,
  40%,
  80%,
  100% {
    transform: scale(1);
  }

  20%,
  60% {
    transform: scale(1.15);
  }
}


.mdx-heart {
  animation: heart 1000ms infinite;
}

.mdx-heart {
  animation: heart 1000ms infinite;
  color: #EE0F0F
}

.mdx-badge__icon {
  padding: px2rem(4px);
  background: var(--md-accent-fg-color--transparent);
  border-start-start-radius: px2rem(2px);
  border-end-start-radius: px2rem(2px);
}

.mdx-badge__text {
  padding: px2rem(4px) px2rem(6px);
  border-start-end-radius: px2rem(2px);
  border-end-end-radius: px2rem(2px);
  box-shadow: 0 0 0 1px inset var(--md-accent-fg-color--transparent);
}
